<html>

<head>
    <%- include('../partials/head.ejs') %>
        <style>
            #avatar {
                border: 5px solid #7289DA;
                border-radius: 10px;
            }
        </style>
</head>

<header>
    <%- include('../partials/header.ejs') %>
</header>

<body>
    <div class="d-flex justify-content-center align-items-center">
        <img id="avatar" src="https://cdn.discordapp.com/avatars/<%=discord_id%>/<%=discord_avatar%>.webp">
    </div>
    <h3 class="text-center">
        <%= discord_username %>
    </h3>

    <br>

    <div class="container border border-white container-rounded rounded mb-0 bg-light">
        <form action="/me/settings/update" method="POST">
            <h1 class="mb-3">Privacy</h1>
            <div class="form-check form-switch">
                <% if (user_settings.settings.privacy.show_anilist) { %>
                    <input name="privacy_anilist_mention" class="form-check-input" type="checkbox"
                        id="privacy_anilist_mention" checked>
                    <% } else { %>
                        <input name="privacy_anilist_mention" class="form-check-input" type="checkbox"
                            id="privacy_anilist_mention">
                        <% } %>
                            <label class="form-check-label" for="privacy_anilist_mention">Anilist Mention
                                Discoverability</label>
            </div>
            <div class="form-check form-switch">
                <% if (user_settings.settings.privacy.show_osu) { %>
                    <input name="privacy_osu_mention" class="form-check-input" type="checkbox" id="privacy_osu_mention"
                        checked>
                    <% } else { %>
                        <input name="privacy_osu_mention" class="form-check-input" type="checkbox"
                            id="privacy_osu_mention">
                        <% } %> <label class="form-check-label" for="privacy_osu_mention">osu! Mention
                                Discoverability</label>
            </div>
            <div class="form-check form-switch">
                <% if (user_settings.settings.privacy.show_minecraft) { %>
                    <input name="privacy_minecraft_mention" class="form-check-input" type="checkbox"
                        id="privacy_minecraft_mention" checked>
                    <% } else { %>
                        <input name="privacy_minecraft_mention" class="form-check-input" type="checkbox"
                            id="privacy_minecraft_mention">
                        <% } %>

                            <label class="form-check-label" for="privacy_minecraft_mention">Minecraft Mention
                                Discoverability</label>
            </div>
            <i class="text-muted font-weight-light">When enabled, other users can mention you in the sites' respective
                command and view your linked
                profile.</i>
            <br>
            <hr class="mt-2 mb-3" />
            <input id="submit" class="btn btn-success" type="submit" value="Save">
        </form>
    </div>
</body>

<footer>
    <%- include('../partials/footer.ejs') %>
</footer>

</html>