<html>

<head>
    <%- include('./partials/head.ejs') %>
        <title>Commands | uuwuu.xyz</title>
</head>

<header>
    <%- include('./partials/header.ejs') %>
</header>


<body>
    <h2 id="all">All Commands</h2>
    <input type="text" class="form-control" id="searchInput" onkeyup="search()" placeholder="Search by command name"
        aria-describedby="basic-addon1" />
    <table class="table table-striped table-hover" id="allCommandsTable">
        <tr>
            <th style="width:10%" scope="col">Command</th>
            <th style="width:20%" scope="col">Arguments</th>
            <th style="width:70%" scope="col">Description</th>
        </tr>
        <% Object.keys(commands.groups).forEach(key=> { %> <% for (var i=0; i < commands.groups[key].length; i++) { %>
                <tr>
                    <td>
                        <%= commands.groups[key][i].name %>
                    </td>
                    <td>
                        <%= commands.groups[key][i].arguments %>
                    </td>
                    <td>
                        <%= commands.groups[key][i].description %>
                    </td>
                </tr>
                <% } %>
                    <% }) %>
    </table>

    <% Object.keys(commands.groups).forEach(key=> { %>
        <h2 id="<%= key %>">
            <%= key.charAt(0).toUpperCase() + key.slice(1) %>
        </h2>
        <table class="table table-striped table-hover" id="commandsTable">
            <tr>
                <th style="width:10%" scope="col">Command</th>
                <th style="width:20%" scope="col">Arguments</th>
                <th style="width:70%" scope="col">Description</th>
            </tr>
            <% for (var i=0; i < commands.groups[key].length; i++) { %>
                <tr>
                    <td>
                        <%= commands.groups[key][i].name %>
                    </td>
                    <td>
                        <%= commands.groups[key][i].arguments %>
                    </td>
                    <td>
                        <%= commands.groups[key][i].description %>
                    </td>
                </tr>
                <% } %>
        </table>
        <% }) %>
</body>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>


<script>
    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("allCommandsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>