<html>
	<head>
		<title>uuwuu Discord Bot | Commands</title>
		<meta property="og:title" content="uuwuu Discord Bot" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://uuwuu.xyz" />
		<meta property="og:image" content="https://uuwuu.xyz/public/icon.png" />
		<meta
			property="og:description"
			content="A Discord bot under development, targeted towards anime watchers and manga readers, alongside Minecraft Hypixel players."
		/>
		<meta name="theme-color" content="#ffb5eb" />
		<style>
			body {
				background-color: #ffb5eb;
				color: #fff;
				font-family: "Helvetica", "Arial", sans-sefir;
				font-size: 20px;
			}

			.discContainer {
				display: flex;
				width: 100%;
				padding: 40px 0;
				align-items: center;
				justify-content: center;
			}

			.discContainer a {
				background: #7289da;
				color: #fff;
				padding: 0 20px;
				line-height: 35px;
				display: block;
				text-decoration: none;
				border-radius: 3px;
			}

			.aniContainer {
				display: flex;
				width: 100%;
				padding: 40px 0;
				align-items: center;
				justify-content: center;
			}

			.aniContainer a {
				background: #0b1622;
				color: #fff;
				padding: 0 20px;
				line-height: 35px;
				font-size: 20px;
				display: block;
				text-decoration: none;
				border-radius: 3px;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #fff;
				position: fixed;
				top: 8;
				width: 100%;
			}

			li {
				float: left;
			}

			li a {
				display: block;
				color: black;
				text-align: center;
				padding: 22px 16px;
				text-decoration: none;
			}

			li a:hover:not(.active) {
				background-color: #c8ffff;
			}

			.active {
				background-color: #cc53ab;
			}

			.sidebar {
				margin: 0;
				padding: 0;
				width: 200px;
				background-color: #ff77da;
				position: fixed;
				height: 100%;
				top: 88px;
				overflow: auto;
			}

			.sidebar a {
				display: block;
				color: black;
				padding: 16px;
				text-decoration: none;
			}

			.sidebar a.active {
				background-color: #cc53ab;
				color: white;
			}

			.sidebar a:hover:not(.active) {
				background-color: #ea77ff;
				color: white;
			}

			div.content {
				margin-top: 88px;
				margin-left: 200px;
				padding: 1px 16px;
				height: auto;
			}

			@media screen and (max-width: 700px) {
				.sidebar {
					width: 100%;
					height: auto;
					position: relative;
				}

				.sidebar a {
					float: left;
				}

				div.content {
					margin-left: 0;
				}
			}

			@media screen and (max-width: 400px) {
				.sidebar a {
					text-align: center;
					float: none;
				}
			}

			table {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}

			table td,
			table th {
				border: 1px solid #fff;
				padding: 8px;
			}

			table tr:nth-child(even) {
				background-color: #ff77da;
			}

			table tr:hover {
				background-color: #ea77ff;
			}

			table th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #cc53ab;
				color: white;
			}

			input[type="text"] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
				border: 3px solid #ccc;
				-webkit-transition: 0.5s;
				transition: 0.5s;
				outline: none;
			}

			input[type="text"]:focus {
				border: 3px solid #555;
			}
		</style>
	</head>

	<body>
		<ul>
			<li>
				<a href="./"><img src="./static/icon.png" /></a>
			</li>
			<li><a href="commands">Commands</a></li>
			<li><a href="about">About</a></li>
			<li><a href="invite">Invite</a></li>
		</ul>

		<div class="sidebar">
			<a class="active" href="#all">All Commands</a>
			<% Object.keys(commands.groups).forEach(key => { %>
			<a href="#<%= key %>"><%= key.charAt(0).toUpperCase() + key.slice(1) %></a>
			<% }) %>
		</div>

		<div class="content">
			<input type="text" id="searchInput" onkeyup="search()" placeholder="Search by command name" />

			<h2 id="all">All Commands</h2>
			<table id="allCommandsTable">
				<tr>
					<th>Command</th>
					<th>Arguments</th>
					<th>Description</th>
				</tr>
				<% Object.keys(commands.groups).forEach(key => { %> <% for (var i = 0; i < commands.groups[key].length; i++) { %>
				<tr>
					<td><%= commands.groups[key][i].name %></td>
					<td><%= commands.groups[key][i].arguments %></td>
					<td><%= commands.groups[key][i].description %></td>
				</tr>
				<% } %> <% }) %>
			</table>

			<% Object.keys(commands.groups).forEach(key => { %>
			<h2 id="<%= key %>"><%= key.charAt(0).toUpperCase() + key.slice(1) %></h2>
			<table id="commandsTable">
				<tr>
					<th>Command</th>
					<th>Arguments</th>
					<th>Description</th>
				</tr>
				<% for (var i = 0; i < commands.groups[key].length; i++) { %>
				<tr>
					<td><%= commands.groups[key][i].name %></td>
					<td><%= commands.groups[key][i].arguments %></td>
					<td><%= commands.groups[key][i].description %></td>
				</tr>
				<% } %>
			</table>
			<% }) %>
		</div>
	</body>
</html>

<script>
	function search() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("searchInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("allCommandsTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>
